parameters:
	reportUnmatchedIgnoredErrors: true
	checkMissingIterableValueType: false

	excludes_analyse:
		- 'tests/**.php'
		- 'src/templates/**'

	ignoreErrors:
		- '/Variable property access on \$this\(Setono\\TagBag\\Tag\\Gtag\)/'
